body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,0.4962359943977591) 0%, rgba(238,238,246,0.37298669467787116) 60%);
}

.container,
button,
p,
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container,
.screen,
.topbtn {
    border: none;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(226, 224, 224);
    box-shadow: 0 0 25px 10px rgb(82, 82, 82);
    padding: 20px;
}

.screen {
    background-color: rgb(124, 172, 133);
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: inset 0 0 10px rgb(37, 37, 37);
    color: white;
    font-size: 20px;
}

.topBtns {
    margin-top: 15px;
    width: 100%;
    height: 12%;

    display: flex;
    gap: 10px;    
}

.topbtn {
    flex: 1;
    background-color: rgb(238, 237, 237);
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75); 
    transition: 0.4s;

    font-size: 20px;
    font-weight: 400;
}

.topbtn:hover {
    cursor: pointer;
    transform: scale(0.95);
    background-color: rgb(203, 202, 202);
}

.bottombtns {
    margin-top: 15px;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
    display: flex;
    flex: 1;
}

.bottombtn {
    flex: 1;
    background-color: rgb(238, 237, 237);
    color: black;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75); 
    margin: 5px;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}

.bottombtn:hover {
    cursor: pointer;
    transform: scale(0.95);
    background-color: rgb(203, 202, 202);
}

